body{
    background-color: white;
    padding: 10px;
}
.lts_logo{
    
    width: 140px;
  height: auto;
}
.navbar-toggler{
    color: darkorange;
    font-size: 30px;
    font-weight: 600;
    font-family: Arial;
    text-align: left;
    border: #fff;
    padding-left: 10px;
    background-color: white;
}
.navbar-toggler:hover{
    background-color: darkorange;
}
.more{
    float: right;
    display: flex;

    color: orange;
    font-size: 30px;
    font-weight: 600;
    font-family: Arial;
    text-align: left;
    border: #fff;
    padding-left: 10px;
    background-color: white;
}
.more > button:hover{
    background-color: darkorange;
}
#header{
    padding: 3px;
    color: orange;

}
#header > h1{
    font-size: 40px;
}
#header > p{
    font-size: 20px;
}
#navbar{
    background-color: darkorange;
    height: 50px;
}
#navbar > a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    float: left;
    padding: 15px;
}
.content{
    margin-top: 34px;
    width: 78%;
    float: right;
    background-color: orange;
}
.sidebar{
    height: 100%; /* 100% Full-height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */

    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

    text-decoration: none;
    list-style: none;
    
}
.sidebar a{
    color:  orange;
    box-sizing: border-box;
}
.sidebar :hover{
    background-color: darkorange;
    color: white;
    border-radius: 12PX;
}
.content{
    border-radius: 30px;
}
.list,
.find{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
}
.part{
    font-size: large;
    font-weight: 400px;
    text-align: left;
    padding: 10px;
    color: orange;
    user-select: none;
}
.part a :hover{
    background-color: darkorange;
    text-decoration: none;
    color: #fff;
}
.path a{
    font-size: large;
    font-weight: 400px;
    text-align: left;
    padding: 20px;
    color: black;
    user-select: none;
}
.find-bar button{
    background-color: green;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 30%;

}


.them{
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    border-color: #fff;
}

.btn > i{
    background-color: #fff;
    color: green;
    text-align: center;
    border-radius: 20px;
    border-color: #fff;
}
.delete{
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    border-color: #fff;
    color: red;
}

.card{
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
}
.card :hover{
    background-color: darkcyan;
}
.img{
    background: url('https://f8-zpcloud.zdn.vn/8424652316553528848/9a5cf812433e9b60c22f.jpg');
}
#navbar > a:hover   {
    background-color: rgba(231, 161, 31, 0.925);
}
#footer{
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}
#footer > h4{
    padding: 20px;
}
#main::after{
    content: "";
    display: block;
    clear: both;
}